{% extends "AppCoder/base.html" %}

{% block title %}
La casa del Codígo | Cursos 
{% endblock  %}

{% block content %}
    <h1>Nuestros cursos</h1>
    <p>los mejores cursos con los mejore porfesores</p>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr class="table-dark">
            <th scope="col">Nombre</th>
            <th scope="col">Comisión</th>
          </tr>
        </thead>
        <tbody>
          {% for cursos in cursos%}
          <tr class="table-warning">
            <td>{{ cursos.nombre }}</td>
            <td>{{ cursos.comision}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
{% endblock  %}
