{% extends "AppCoder/base.html" %}
{% load custom_filters %}

{% block title %}
La casa del Codígo | Entregables
{% endblock  %}



{% block content %}
    <section id="scroll">
        <h1>Nuestros Entregables</h1>
        <p>Certificados avalados por las mejores empresas</p>
        <div class="container">
            <table class="table table-striped">
              <thead>
                <tr class="table-dark">
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha de Entrega</th>
                  <th scope="col">Entregado</th>
                </tr>
              </thead>
              <tbody>
                {% for entregable in entregable %}
                <tr class="table-warning">
                  <td>{{ entregable.nombre }}</td>
                  <td>{{ entregable.fechaDeEntrega }}</td>
                  <td>{{ entregable.entregado|boolean_to_text }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
